<h1>Users#new</h1>
<!-- <form action="/users" method="POST">
    Name: <input type="text" name="user[username]"><br>
    Email: <input type="text" name="user[email]"><br>
    Password: <input type="text" name="user[password]"><br>
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="submit" value="Submit">
</form> -->
<%= form_for @user, url: {action: "create"} do |f| %>
Username: <%= f.text_field :username %><br>
Email: <%= f.text_field :email %><br>
Password: <%= f.text_field :password %><br>
<%= f.submit 'Create' %>
<% end %>